http:
  port: ${PORT}
admin:
  port: 9876
  host: localhost
apiEndpoints:
  api:
    host: localhost
    paths: '/ip'
  users:
    host: localhost
    methods: ['GET', 'POST', 'PUT', 'DELETE']
    paths: '/users*'
  auth:
    host: localhost
    methods: ['GET', 'POST']
    paths: '/auth*'
  projects:
    host: localhost
    methods: ['GET', 'POST', 'PUT', 'DELETE']
    paths: '/projects*'
serviceEndpoints:
  httpbin:
    url: 'https://httpbin.org'
  users:
    url: ${USER_API_URL}
  auth:
    url: ${AUTH_API_URL}
  projects:
    url: ${PROJECTS_API_URL}
policies:
  - jwt
  - basic-auth
  - cors
  - expression
  - key-auth
  - log
  - oauth2
  - proxy
  - rate-limit
pipelines:
  default:
    apiEndpoints:
      - api
    policies:
      - proxy:
          - action:
              serviceEndpoint: httpbin 
              changeOrigin: true
  users:
    apiEndpoints:
      - users
    policies:
      - proxy:
          - action:
              serviceEndpoint: users 
              changeOrigin: true
  auth:
    apiEndpoints:
      - auth
    policies:
      - proxy:
          - action:
              serviceEndpoint: auth 
              changeOrigin: true
  projects:
    apiEndpoints:
      - projects
    policies:
      - proxy:
          - action:
              serviceEndpoint: projects 
              changeOrigin: true
